body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: azure;
}

canvas {
  display: block;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

.controls label {
  margin-bottom: 5px;
}